@CHARSET "UTF-8";

body {
    background: #000000;
    font-size: small;
    font-family: courier;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    cursor: url(../images/testcursor.png), auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul, ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: bold;
}

table, table tr, table tr td {
    margin: 0;
    padding: 0;
    border: 0;
}

/* menu */

div#menu {
    float: left;
    background: #333333;
    border: 1px solid #333333;
}

div#menu ul li {
    background-size: 30px;
    background-repeat: no-repeat;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    padding-left: 35px;
    padding-right: 5px;
    height: 30px;
    line-height: 30px;
}

li#health {
    background-image: url(../images/health.png);
    background-color: #B40A57;
}

li#stamina {
    background-image: url(../images/stamina.png);
   background-color: #349E97;
}

li.clickable:hover, li#perceptionSelected, li#tradeSelected, li#sprintSelected {
    background: #FFFFFF;
    color: #000000;
}

li#inventory {
    background-image: url(../images/inventory.png);
}

li#perception {
    background-image: url(../images/perception.png);
}

li#trade {
    background-image: url(../images/trade.png);
}

li#sprint {
    background-image: url(../images/sprint.png);
}

/* inventory */

table#items {
    float: left;
    border: 1px solid #333333;
    background: #000000;
}

table#items tr td.equipped {
    width: 30px;
    height: 30px;
    background: #333333;
}

/* game board */

div#board {
    width: 100%;
    background: white;
}

/* text box */

div#messages {
    width: 100%;
    height: 100px;
    float: left;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #333333;
    border-top: 3px solid #000000;
}